header, nav, article, section, aside, footer {
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 5px;
    font-family: Arial, sans-serif;
    color: #555555;
    box-sizing: border-box;
}

header {
    border-color: salmon;
}

#logo {
    width: 80px;
}
header nav {
    float: right;
}

@media (max-width: 480px) {
    header nav {
        float: none;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 16px;
    border-color: yellow;
}
nav ul {
    padding: 0px;
    margin: 0px;
}

nav {
    border-color: seagreen;
}


.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border: solid lightgrey;
}
article {
    border-color: cornflowerblue;
    width: 100%;
    float: left;
}

@media (min-width: 679px) {
    article {
        max-width: 500px;
    }
}
section {
    border-color: plum;
}

aside {
    border-color: orange;
    width: 200px;
    float: right;
}

@media (max-width: 679px) {
    aside {
        width: 100%;
    }
}

footer {
    border-color: darkmagenta;
    clear: both;
}

/*mobile max-width 480px
tablet max-width 768px
desktop  min-width 1280px*/